@model WebApp.Areas.Admin.Models.SanPhamViewModel
@{
    ViewData["Title"] = "ChiTietSP";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
<body class="single-product">
    <div class="wrapper">
        <!--================= Single Product  ====================-->
        <div class="container" style="padding-top: 100px;">
            <div class="row">
                <div class="col-md-6">
                    <!--================= Single Product Slider  ====================-->
                    <div class="single-product-slider">
                        <div class="product-slider-shop owl-carousel owl-theme">
                            <div class="item"><img src="~/imageproducts/@Model.AnhMoTa" alt="single-product"></div>
                        </div>
                    </div>
                    <!--================= End of Single Product Slider  ====================-->
                    <div class="modal fade" id="zoom-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            </div><!--modal-content-->
                        </div><!--modal-dialog-->
                    </div><!--modal-->
                </div>
                <div class="col-md-6">
                    <!--================= Inside Single  ====================-->
                    <div class="inside-single">
                        <h4 class="title">@Model.Ten</h4>
                        <div class="price">@Model.DonGia - VND</div>
                        <div class="star">
                            <span>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div><!--star-->
                        <div class="description">
                            <p>@Model.NoiDung</p>
                        </div><!--description-->
                        <div class="add-to-cart">
                            <div class="quantity">
                                <span class="minus"><img src="~/assets/images/minus.png" alt="minus"></span>
                                <input value="1" id="sl">
                                <span class="plus"><img src="~/assets/images/plus.png" alt="plus"></span>
                            </div>
                            <div class="quantity">
                                <select class="form-control" name="size" id="size">
                                    @foreach (var item in Model.SizeViewModel)
                                    {
                                        <option value="@item.SizeNumber">@item.SizeNumber</option>
                                    }
                                </select>
                            </div>

                        </div><!--add-to-cart-->
                    </div>

                    <!--================= End of Inside Single  ====================-->
                </div>
                <a style="margin-left: 100px;" class="custom-btn green" onclick="SaveAddToCart(@Model.Id,@Model.DonGia);">Mua hàng</a>
                <div class="col-md-12">
                    <!--================= Tab  ====================-->
                    <ul class="nav nav-tabs text-center">
                        <li class="active"><a href="#description" data-toggle="tab" aria-expanded="true">Mô tả</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="description">
                            <p>Giay.store liên tục đón nhận những ý tưởng mới từ cộng đồng để Đồng Sáng Tạo ra những mẫu giày mới. Chúng tôi liên tục cải tiến sản phẩm và quy trình của mình để hướng đến tối đa hóa giá trị cho khách hàng.. </p>
                            <p>Giay.store liên tục đón nhận những ý tưởng mới từ cộng đồng để Đồng Sáng Tạo ra những mẫu giày mới. Chúng tôi liên tục cải tiến sản phẩm và quy trình của mình để hướng đến tối đa hóa giá trị cho khách hàng.</p>
                            <ul class="list">
                                <li class="first">Lí do nên chọn mua hàng ở Giay.store</li>
                                <li><i class="fa fa-circle"></i>Giao hàng toàn quốc</li>
                                <li><i class="fa fa-circle"></i>Đổi trả hàng trong vòng 7 ngày</li>
                                <li><i class="fa fa-circle"></i>Bảo hành 12 tháng </li>
                            </ul>
                        </div><!--tab-pane-->
                    </div>
                    <!--================= End of Tab  ====================-->
                    <h2 class="title-head text-center">Sản phẩm cùng loại</h2>
                    <!--================= Similar Products  ====================-->
                    <div class="similar-products owl-carousel owl-theme">
                        @foreach (var item in ViewBag.spliequan)
                        {
                            <div class="item">
                                <div class="product">
                                    <div class="images text-center">
                                        <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })"><img src="~/imageproducts/@item.AnhMoTa" alt="product5"></a>
                                        <div class="button-group">
                                            <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="custom-btn pink"><i class="fa fa-search"></i></a>
                                        </div><!--button-group-->
                                    </div><!--images-->
                                    <div class="info-product">
                                        <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="title">@item.Ten</a>
                                        <span class="price">@item.DonGia</span>
                                    </div><!--info-product-->
                                </div><!--product-->
                            </div>
                        }
                    </div>
                    <!--================= End of Similar Products  ====================-->
                </div>
            </div>
        </div>
        <!--================= End of Single Product  ====================-->
    </div>
</body>
<script>
    function SaveAddToCart(id,dongia) {
        var sl = $('#sl').val();
        var size = $('#size').val();
        debugger
        $.ajax({
            url: "/SanPham/AddProductsToCart/",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            data: { Id: id, Sl: sl, Size: size, Dongia: dongia },
            success: function (data) {
                alert("Số lượng còn hiện tại :" + data +"");
            },
            error: function (err) {
                alert(err);
            }
        });
    }
    
</script>