@model IEnumerable<WebApp.Areas.Admin.Models.SanPhamViewModel>
@using WebApp.Helper;
@{
    ViewData["Title"] = "DSSanPham";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}

<!--================= Breadcrumb ====================-->
<div class="breadcrumb-top bg-yellow">
    <div class="container">
        <h2>Danh sách sản phẩm</h2>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Danh sách sản phẩm</li>
        </ol><!--breadcrumb-->
    </div>
</div><!--breadcrumb-top-->
<!--================= End of Breadcrumb ====================-->
<!--================= Content Shop ====================-->
<div class="content-shop">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 col-3">
                <!--================= Sidebar ====================-->
                <aside class="sidebar-shop">
                    <!--================= Widget Search  ====================-->
                    <div class="widget-search">
                        <h3 class="widget-title">Tìm kiếm</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Tìm kiếm...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!--================= End of Widget Search ====================-->
                    <!--================= Widget Category  ====================-->
                    <div class="widget-category">
                        <h3 class="widget-title">Danh sách loại</h3>
                        <ul>
                            <li class="active widget-category-hover"><a href="@Url.Action("DSSanPham", "SanPham")" class="text-black">All</a></li>
                            @foreach (var item in Comon.loaisp())
                            {
                                <li class="widget-category-hover"><a class="text-black" asp-action="DSSanPham" asp-controller="SanPham" asp-route-id="@item.Id">@item.Ten</a></li>
                            }
                        </ul>
                    </div>
                    <!--================= End of Widget Category  ====================-->
                    @using (Html.BeginForm())
                    {
                        <!--================= Widget Price  ====================-->
                        <div class="widget-price">
                            <h3 class="widget-title">Lọc Theo Giá</h3>
                            <div id="slider-range"></div>
                            <p>
                                <label for="amount">Giá:</label>
                                <input type="text" id="amount" name="locgia" readonly>
                                <input type="text" id="gia1" name="gia1" style="display:none">
                                <input type="text" id="gia2" name="gia2" style="display:none">
                            </p>
                            <button type="submit" class="custom-btn green">Lọc</button>
                        </div>
                        <!--================= End of Widget Price  ====================-->
                    }
                        <!--================= Widget Recent Product  ====================-->
                       
                        <!--================= End of Widget Recent Product  ====================-->
                    </aside>
                <!--================= End of Sidebar ====================-->
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-9">
                <!--================= Filter Wrap ====================-->
                <div class="filter-wrap">
                    <p>Showing 1–8 of 22 results</p>
                    <div class="sorting">
                        @using (Html.BeginForm())
                        {
                            <select>
                                <option value="Default">Default Sorting</option>
                                <option value="Default">ASC</option>
                                <option value="Default">DESC</option>
                            </select>
                        }
                            <i class="fa fa-angle-down"></i>
                        </div><!--sorting-->
                    <div class="switch">
                        <span class="list"><i class="fa fa-list"></i></span>
                        <span class="grid-icon active"><i class="fa fa-th"></i></span>
                    </div><!--switch-->
                </div>
                <!--================= End of Filter Wrap ====================-->
                <!--================= Content Product ====================-->
                <div class="content-product three-column with-sidebar">
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="images text-center">
                                <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })"><img src="~/imageproducts/@item.AnhMoTa" alt="product5"></a>
                                <div class="button-group">
                                    <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="custom-btn pink"><i class="fa fa-search"></i></a>
                                </div><!--button-group-->
                            </div><!--images-->
                            <div class="info-product">
                                <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="title">@item.Ten</a>
                                <span class="price">
                                    <ins>@item.DonGia</ins>
                                </span>
                            </div><!--info-product-->
                            <div class="label-product text-center text-white sale">
                                <span>Sale</span>
                            </div>
                        </div><!--product-->
                    }
                </div>
                <!--================= End of Content Product ====================-->
                <!--================= Pagination ====================-->
                <ul class="pagination border-top border-color-gray">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="no-pointer"><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                </ul><!--pagination-->
                <!--================= End of Pagination ====================-->
            </div>
        </div>
    </div>
</div>
<!--================= End of Content Shop ====================-->