
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}

<div class="base-slider owl-carousel owl-theme">
    <div class="item">
        <img src="~/assetadmin//img/banner/Untitled-1.png" alt="slider">
        <div class="text-slider">
        </div><!--text-slider-->
    </div><!--item-->
    <div class="item slide-two">
        <img src="~/assetadmin//img/banner/Untitled-2.png" alt="slider">
        <div class="text-slider">
        </div><!--text-slider-->
    </div><!--item-->
    <div class="item slide-three">
        <img src="~/assetadmin//img/banner/Untitled-3.png" alt="slider">
        <div class="text-slider last">
        </div><!--text-slider-->
    </div><!--item-->
</div>

<!--================== End of Base-Slider ====================-->
<!--=================== Product Slider =======================-->
<div class="container-large">
    <div class="product-slider">
        <div class="title-head">
            <h2 class="text-black">Mẫu giày mới</h2>
            <p>Mẫu giày Running</p>
        </div>
        <div class="slider-product owl-carousel owl-theme">
            @foreach (var item in ViewBag.spmoi)
            {
                <div class="item">
                    <div class="product">
                        <div class="images text-center">
                            <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })"><img src="~/imageproducts/@item.AnhMoTa" alt="product5"></a>
                            <div class="button-group">
                                <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="custom-btn pink"><i class="fa fa-search"></i></a>
                            </div><!--button-group-->
                        </div><!--images-->
                        <div class="info-product">
                            <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="title">@item.Ten</a>
                            <span class="price">@item.DonGia</span>
                        </div><!--info-product-->
                    </div><!--product-->
                </div>
            }
        </div><!--slider-product-->
        <div class="text-center">
            <a asp-action="DSSanPham" asp-controller="SanPham" class="custom-btn text-center green"><span>Xem toàn bộ</span></a>
        </div>
    </div><!--product-slider-->
</div>
<!--=============== End of Product Slider ===================-->
<div class="container-large">
    <div class="big-banner">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="text">
                    <h2>Sắn sàng<br>cho cuộc chiến</h2>
                    <a asp-action="DSSanPham" asp-controller="SanPham" class="custom-btn text-center white">Xem sản phẩm</a>
                </div><!--text-->
            </div>
        </div>
    </div><!--big-banner-->
</div>
<!--=================== Grid Product =======================-->
<div class="container-large">
    <div class="grid-product">
        <div class="title-head">
            <h2 class="text-black">Sản phẩm của chúng tôi</h2>
        </div>
        <div class="row">
            @foreach (var item in ViewBag.model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="images text-center">
                            <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })"><img src="~/imageproducts/@item.AnhMoTa" alt="product5"></a>
                            <div class="button-group">
                                <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="custom-btn pink"><i class="fa fa-search"></i></a>
                            </div><!--button-group-->
                        </div><!--images-->
                        <div class="info-product">
                            <a href="@Url.Action("ChiTietSP","SanPham",new { @Id = item.Id })" class="title">@item.Ten</a>
                            <span class="price">@item.DonGia</span>
                        </div><!--info-product-->
                    </div><!--product-->
                </div>
            }
            </div>
        <div class="text-center"><a asp-action="DSSanPham" asp-controller="SanPham" class="custom-btn text-center green">Xem toàn bộ</a></div>
    </div><!--grid-product-->
    <div class="banner-color">
        <div class="row">
            <div class="col-md-4">
                <div class="inside text-center bg-yellow">
                    <h5>Giao hàng miễn phí</h5>
                    <p>Nội thành HCM</p>
                </div><!--inside-->
            </div>
            <div class="col-md-4">
                <div class="inside text-center bg-yellow">
                    <h5>Đổi size trong 7 ngày</h5>
                    <p>Dễ dàng và thuận tiện</p>
                </div><!--inside-->
            </div>
            <div class="col-md-4">
                <div class="inside text-center bg-yellow">
                    <h5>Thanh toán qua thẻ tín dụng</h5>
                    <p>Thẻ Online và tại shop.</p>
                </div><!--inside-->
            </div>
        </div>
    </div><!--banner-color-->
</div>
<!--=============== End of Grid Product ===================-->
<!--===================== Schedule ========================-->
<div class="container-large">
    <div class="schedule">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="inside">
                    <a asp-action="DSSanPham" asp-controller="SanPham" class="custom-btn text-center green">Đặt hàng ngay</a>
                </div><!--inside-->
            </div>
        </div>
    </div><!--schedule-->
</div>
<!--===================== Schedule ========================-->

