@using WebApp.Helper
@{
    ViewData["Title"] = "SPBanChay";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
    var i = 1;
    DateTime aDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    // Cộng thêm 1 tháng và trừ đi một ngày.
    DateTime retDateTime = aDateTime.AddDays(7).AddDays(-1);
}
@model IEnumerable<WebApp.Models.TopSanPhamBanChay>
<style>
    .imageInputWrapper {
        background-color: white;
        display: flex;
        align-items: center;
    }

    .red {
        box-shadow: 0px 0px 2px 2px red;
    }
</style>
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Top 5 sản phẩm bán chạy</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Báo cáo</li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm bán chạy</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card">
                    @using (Html.BeginForm("SPBanChay", "SaleReport", FormMethod.Get))
                    {
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <div class="col-md-5">
                                <span class="input-daterange input-group date" style="margin-right:5px">
                                    @Html.TextBox("StartDate", aDateTime.ToString("dd/MM/yyyy"), new { @class = "form-control form_datetime", autocomplete = "off", Type = "date", Style = "width:175px", })
                                    <span class="input-group-addon">
                                        <i class="fa fa-exchange" style="padding: 10px;"></i>
                                    </span>
                                    @Html.TextBox("EndDate", retDateTime.ToString("dd/MM/yyyy"), new { @class = "form-control form_datetime", autocomplete = "off", Type = "date", Style = "width:175px" })
                                </span>
                            </div>
                            <div class="col-md-7">
                                <button type="submit" id="search" class="btn btn-primary" style="width: 14%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
                            <div class="grid-wrap">
                                <table class="table table-striped grid-table" id="table-grid">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>STT</span>
                                                </div>
                                            </th>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>Mã</span>
                                                </div>
                                            </th>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>Tên</span>
                                                </div>
                                            </th>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>Đơn giá</span>
                                                </div>
                                            </th>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>Loại</span>
                                                </div>
                                            </th>
                                            <th class="grid-header">
                                                <div class="grid-header-title">
                                                    <span>Tổng số lượng</span>
                                                </div>
                                            </th>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="grid-row ">
                                                <td class="grid-cell" data-name="">@i</td>
                                                <td class="grid-cell" data-name="">
                                                    <span>@item.Id</span>
                                                </td>
                                                <td class="grid-cell" data-name="TenNV">@item.Ten</td>
                                                <td class="grid-cell money1" data-name="TenNV">@item.DonGia</td>
                                                <td class="grid-cell" data-name="TongTien">@Comon.NameByIdLoaiSP(item.IdLoai)</td>
                                                <td class="grid-cell" data-name="GhiChu">@item.Tongsl</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Row-->
    </div>
    <script>

        $(function () {
            $(".form_datetime").each(function () {
                $(this).add($(this).next()).wrapAll('<div class="imageInputWrapper"></div>');
            });

            $('#search').click(function (e) {
                debugger
                $("#StartDate").removeClass("red");
                $("#EndDate").removeClass("red");
                var fromDate = $("#StartDate").val();
                var toDate = $("#EndDate").val();

                if (toDate <= fromDate) { //here only checks the day not month and year
                    $("#StartDate").addClass("red");
                    $("#EndDate").addClass("red");
                    return false;
                    errors++;
                }

                if (errors) e.preventDefault();
            });
        });
        function openpoupmy(value) {
            debugger
            var sd = $("#StartDate").val();
            var ed = $("#EndDate").val();
            newwindow = window.open('/CMS_Sale/SaleReport/ExportToExcel?name=spbanchay&StartDate=' + sd + '&EndDate=' + ed + '&ExportExcel=' + value + '', 'print', 'height=500,width=500');

            setTimeout(function () {
            }, 500);
        }

    </script>

