@model WebApp.Areas.Admin.Models.SanPhamViewModel
@using WebApp.Helper;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
}

@using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid" id="container-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">TẠO MỚI SẢN PHẨM</h6>
                    </div>
                    <div class="card-body" style="margin-top:-13px">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            @Html.TextBoxFor(model => model.Ten, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <label class="btn btn-primary btn-sm btn-white" for="File"><i class="fa fa-upload"></i><span>Tải hình mới</span></label>
                                <input id="File" name="ProfileImage" type="file" accept="image/*" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                                <span class='label label-info' style="display:none" id="upload-file-info"></span>
                            </div>
                            <div class="text-center" id="display-image">
                                <img src="~/assetadmin/img/icons/add-image2.png" title="" id="imgAvt" style="max-height:217px" />
                            </div>
                        </div>
                        <div class="form-group" id="myTable">
                             <label>Size và Số lượng kho</label>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">
                                    <tbody class="detailList">
                                        <tr>
                                            <td><input placeholder="Size..." type="text" name="SizeViewModel[0].SizeNumber" class="form-control name_list" /></td>
                                            <td><input placeholder="Số lượng..." type="text" name="SizeViewModel[0].SoLuongKho" class="form-control name_list" /></td>
                                            <td><button type="button" name="add" id="add" class="btn btn-success">Thêm</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- General Element -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Đơn giá</label>
                            @Html.TextBoxFor(model => model.DonGia, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Nội dung</label>
                            @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Loại Sản Phẩm</label>
                            <select class="form-control" name="IdLoai" id="IdLoai">
                                @foreach (var item in Comon.loaisp())
                                {
                                    <option value="@item.Id">@item.Ten</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-mini btn-primary" id="Save" type="submit" name="Submit">
                            <i class="ace-icon fa fa-save"></i> Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        var i = 1;
        $('#add').click(function () {
            var count = $('#dynamic_field tr').length;
            i++;
            $('#dynamic_field').append('<tr id="row' + i + '"><td><input placeholder="Size..." type="text" name="SizeViewModel[' + count + '].SizeNumber" class="detail_item_qty form-control name_list" /></td><td><input placeholder="Số lượng..." type="text" name="SizeViewModel[' + count + '].SoLuongKho" class="detail_item_price form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
        });
        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
            $('.detailList tr').each(function (index, tr) {
                $(tr).find('.detail_item_qty').attr('name', 'SizeViewModel[' + index + '].SizeNumber');
                $(tr).find('.detail_item_price').attr('name', 'SizeViewModel[' + index + '].SoLuongKho');
            });
        });
    });
</script>
<script type="text/javascript">
    //validation
    $("#Save").click(function () {
        var tensp = $("#Ten").val();
        var dongia = $("#DonGia").val();
        var loaisp = $("#IdLoai").find("option:selected").val();
        var dvt = $("#IdDVT").find("option:selected").val();
        if (tensp == "") {
            swal({
                text: "Chưa nhập tên sản phẩm!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (dongia == "") {
            swal({
                text: "Chưa nhập đơn giá!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (loaisp == "") {
            swal({
                text: "Chưa chọn phân loại!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
        if (dvt == "") {
            swal({
                text: "Chưa chọn đơn vị tính!",
                icon: "warning",
                button: "Đồng ý",
            });
            return false;
        }
    });
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#imgAvt').attr('src', e.target.result);
    };

</script>

