@model IEnumerable<WebApp.Areas.Admin.Models.SanPhamViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
    var x = 1;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div style="display:flex;">
            <h1 class="h3 mb-0 text-gray-800">Sản phẩm</h1>
            <a href="@Url.Action("Create", "SanPhams", new { area ="Admin" })">
                <button type="button" class="btn btn-primary" title="Thêm sản phẩm" style="margin-left:10px">
                    Thêm mới <i class="fa fa-plus"></i>
                </button>
            </a>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                @using (Html.BeginForm("Index", "SanPhams", FormMethod.Get))
                {
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-md-5">
                            <div class="order-search" style="margin: 10px 0px; position: relative;">
                                <input type="text" class="form-control" placeholder="Nhập tên hoặc loại sản phẩm..." id="search-pro-box" autocomplete="off" name="txtInfo">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="IdLoaiSP" id="IdLoaiSP">
                                <option value="">Tìm theo loại</option>
                                
                                    <option value="1">11111</option>
                               
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="IsDelete" id="IsDelete">
                                <option value="">Trạng thái</option>
                                <option value="false">Đang kinh doanh</option>
                                <option value="true">Tạm ngưng</option>

                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 8%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(false);"><i class="fa fa-file-pdf-o" style="font-size:16px"></i> PDF</button>
                        <button type="button" class="btn btn-primary" onclick="openpoupmy(true);"><i class="fa fa-file-excel-o" style="font-size:16px"></i> Excel</button>
                    </div>
                }
                @using (Html.BeginForm("Delete", "SanPhams", FormMethod.Post))
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cập nhật</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Đơn giá</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Ảnh mô tả</th>
                                    <th scope="col">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>
                                            <a href="@Url.Action("Edit","SanPhams",new { @Id = item.Id })">
                                                <button class="btn btn-primary" title="Chỉnh sửa" style="margin-left:-8px;margin-right:9px;" type="button"><i class="fas fa-pencil-alt"></i></button>
                                            </a>
                                            <button class="btn btn-warning" title="Ngừng kinh doanh" style="margin:-2px" name="IdDelete" type="submit" value="@item.Id" onclick="return ConfirmDelete()"> <i class="fas fa-trash-alt"></i></button>
                                        </th>
                                        <th scope="row"><a href="@Url.Action("Details","SanPhams",new { @Id = item.Id })">@item.Id</a></th>
                                        <th>@item.Ten</th>
                                        <th>@item.DonGia</th>
                                        <th>@item.NgayTao</th>
                                        <th>@item.NoiDung</th>
                                        <th><img src="~/imageproducts/@item.AnhMoTa" style="width:60px; height:60px"></th>
                                        @if (@item.IsDelete == false)
                                        {
                                            <th><span class="badge badge-primary">Đang kinh doanh</span></th>
                                        }
                                        else
                                        {
                                             <th><span class="badge badge-warning">Tạm ngưng</span></th>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Row-->
</div>
<script>
    //print
    function openpoupmy(value) {
        var IdLoaiSP = getUrlVars()["IdLoaiSP"];
        var txtInfo = getUrlVars()["txtInfo"];
        newwindow = window.open('/CMS_Sale/Products/Print?txtInfo=' + txtInfo + '&ExportExcel=' + value + '&IdLoaiSP=' + IdLoaiSP + '', 'print', 'height=500,width=500');
        setTimeout(function () {
        }, 500);
    }
    //deletei
    function ConfirmDelete() {
        var x = confirm("Bạn có chắc muốn khóa item đã chọn ?");
        if (x)
            return true;
        else
            return false;
    }
    function ConfirmUnBlock() {
        var x = confirm("Bạn có chắc muốn mở khóa item đã chọn ?");
        if (x)
            return true;
        else
            return false;
    }
</script>


