
@{
    ViewData["Title"] = "Deatails";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
    int count = 1;
}

@model WebApp.Areas.Admin.Models.PhieuNhapViewModel;
@using WebApp.Helper; 
<link href="~/assetadmin/css/DetailsPos.css" rel="stylesheet" />
<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                @if (Model.IsDelete != true)
                {
                    <div class="p-4 text-center text-white text-lg rounded-top" style="background-color:#FAAC58"><span class="text-uppercase">Mã phiếu nhập - </span><span class="text-medium">@Model.Id</span></div>
                }
                else
                {
                    <div class="p-4 text-center text-white text-lg rounded-top" style="background-color:red"><span class="text-uppercase">Phiếu nhập bị hủy- </span><span class="text-medium">@Model.Id</span></div>
                }
                <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Nhân viên nhập:</span> @Model.IdTk</div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Nhà cung cấp:</span> @Model.IdNcc</div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Tổng tiền:</span> <b class="money1">@Model.TongTien</b> </div>
                    <div class="w-100 text-center py-1 px-2"><span class="text-medium">Ngày tạo:</span> @Model.NgayTao</div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mã PN </th>
                                <th scope="col">Size</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Đơn giá </th>
                                <th scope="col">Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CTPhieuNhapViewModel)
                            {

                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.IdPn</td>
                                    <td>@item.IdSize</td>
                                    <td>@Comon.NameByIdSP(item.IdSp)</td>
                                    <td>@item.DonGia</td>
                                    <td>@item.SoLuong</td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



