@model IEnumerable<WebApp.Areas.Admin.Models.PhieuNhapViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ACE_Layout_Admin.cshtml";
}
@using WebApp.Helper
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div style="display:flex">
            <h1 class="h3 mb-0 text-gray-800">Nhập hàng</h1>
            <a href="@Url.Action("Create", "PhieuNhap", new { area ="Admin" })">
                <button type="button" class="btn btn-primary" title="Thêm phiếu nhập" style="margin-left:10px">
                    Thêm mới <i class="fa fa-plus"></i>
                </button>
            </a>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Nhập hàng</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                @using (Html.BeginForm("Index", "PhieuNhap", FormMethod.Get))
                {
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-md-10">
                            <div class="order-search" style="margin: 10px 0px; position: relative;display:flex">
                                <input type="text" class="form-control" placeholder="Nhập mã phiếu..." id="search-pro-box" autocomplete="off" name="id">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 8%;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
                    </div>
                }
                @using (Html.BeginForm("Delete", "InOrder"))
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cập nhật</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tiêu đề</th>
                                    <th scope="col">Tổng tiền</th>
                                    <th scope="col">Ngày tạo</th>
                                    <th scope="col">Người tạo</th>
                                    <th scope="col">Nhà cung cấp</th>
                                    <th scope="col">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <th>
                                        <a href="@Url.Action("Edit","PhieuNhap",new { @Id = item.Id })">
                                            <button class="btn btn-primary" title="Chỉnh sửa" style="margin-left:-8px;margin-right:9px;" type="button"><i class="fas fa-pencil-alt"></i></button>
                                        </a>
                                        <button class="btn btn-warning" title="Ngừng kinh doanh" style="margin:-2px" name="IdDelete" type="submit" value="@item.Id" onclick="return ConfirmDelete()"> <i class="fas fa-trash-alt"></i></button>
                                    </th>
                                    <th scope="row"><a href="@Url.Action("Details","PhieuNhap",new { @Id = item.Id })">@item.Id</a></th>
                                    <th>@item.TieuDe</th>
                                    <th>@item.TongTien</th>
                                    <th>@item.NgayTao</th>
                                    <th>@Comon.NameByIdTK(item.IdTk)</th>
                                    <th>@item.IdNcc</th>
                                    @if (@item.IsDelete == false)
                                    {
                                        <th><span class="badge badge-primary">Tồn tại</span></th>
                                    }
                                    else
                                    {
                                        <th><span class="badge badge-warning">Hủy</span></th>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>

